<app-combo-catalogo
    [listado]="listado">
</app-combo-catalogo>

<app-hijovc #hijovc
    [name]=""
    [edad]= edad
></app-hijovc>

ingrese la edad: <input type="number" [(ngModel)]="edad" />
<button class="btn" type="button" (click)="getEnable()"> Validar regla mayor de edad</button>

<button class="btn" type="button" (click)="getNumber()"> click</button>