/* You can add global styles to this file, and also import other style files */
/* fonts family */

@font-face {
    font-family: open-sans;
    src: url(assets/fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: gotham-black;
    src: url(assets/fonts/Gotham-Black.otf);
}

@font-face {
    font-family: gotham-bold;
    src: url(assets/fonts/Gotham-Bold.otf);
}

@font-face {
    font-family: gotham-light;
    src: url(assets/fonts/Gotham-Light.otf);
}

@font-face {
    font-family: gotham-medium;
    src: url(assets/fonts/Gotham-Medium.otf);
}

@font-face {
    font-family: verdana-bold;
    src: url(assets/fonts/Verdana-Bold.ttf);
}

@font-face {
    font-family: verdan;
    src: url(assets/fonts/Verdana.ttf);
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    // font-family: open-sans;
}

$font-sans: open-sans,
Arial,
Helvetica,
sans-serif;
$font-gotham-black: gotham-black,
Arial,
Helvetica,
sans-serif;
$font-gotham-bold: gotham-bold,
Arial,
Helvetica,
sans-serif;
$font-gotham-light: gotham-light,
Arial,
Helvetica,
sans-serif;
$font-gotham-medium: gotham-medium,
Arial,
Helvetica,
sans-serif;
$font-verdana-bold: verdana-bold,
Arial,
Helvetica,
sans-serif;
$font-verdana: verdan,
Arial,
Helvetica,
sans-serif;
.font-sans {
    font-family: $font-sans;
}

.font-gotham-black {
    font-family: $font-gotham-black;
}

.font-gotham-bold {
    font-family: $font-gotham-bold;
}

.font-gotham-light {
    font-family: $font-gotham-light;
}

.font-gotham-medium {
    font-family: $font-gotham-medium;
}

.font-verdana-bold {
    font-family: $font-verdana-bold;
}

.font-verdana {
    font-family: $font-verdana;
}


/* colors rgb */

// background header
$color-blue: #2975af;
$color-link: #c3cc30;
// border shadow header
$color-turquoise: #82b3df;
// color title product content
$color-title-product-content: #1c6daa;
$color-subtitle-search: #000;
$color-label: #525252!important;
$color-label-input: #9a9a9a;
$border-error-input: #dc0104;
$color-green: #7cc400;
$color-btn: red;
$color-btn-hover: #51cbce;
$color-border-total-income: #a2a2a2;
$color-footer-background: #fde1a69e;
$color-title-footer: #565656;
$color-border-input: #ddd;
// product info
$background-content: #f5f5f5!important;
$color-title-product: #3680b5;
$color-white: #ffffff;

/* colors selects border */

$color-border-select: #e5e5e5;

/* style selects and inputs in form */

.border-style {
    border: solid 1px $color-border-input;
    border-radius: 5px;
}

.style-input {
    height: 35px;
    border: solid 1px $color-border-input;
    border-radius: 5px;
}

.background-blue {
    background: $color-blue;
}

.tabs.tabs-transparent .indicator {
    background-color: $color-link;
}


/* style nav item */

.style-header {
    font-family: open-sans;
    font-size: 16px;
    font-style: normal;
    color: $color-white;
}

// style header product
.style-header-product {
    font-family: open-sans;
    font-size: 16px;
    line-height: 18px;
    font-style: normal;
    color: $color-white;
}

// style user-footer
.style-user,
.style-footer {
    font-family: open-sans;
    font-size: 12px;
    line-height: 16px;
    font-style: normal;
    color: $color-white;
}

// style client document
.style-document-client {
    font-family: open-sans;
    font-size: 16px;
    line-height: 20px;
    font-style: normal;
    color: $color-white;
}

// style title product
.style-title {
    font-family: open-sans;
    font-size: 18px;
    line-height: 20px;
    font-style: normal;
    font-weight: 700;
    color: $color-title-product;
}

// style title search client
.style-title-info-client {
    font-family: open-sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    color: $color-subtitle-search;
}

.style-work-info-title {
    font-family: open-sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    color: #969696;
    padding-left: 10px;
}

// style footer
.style-footer__q-item {
    font-family: $font-gotham-medium;
    font-size: 15px;
    line-height: 26px;
    font-style: normal;
    color: $color-title-footer;
}

.style-footer__q-itemd {
    font-family: $font-gotham-light;
    font-size: 14px;
    line-height: 26px;
    font-style: normal;
    color: $color-title-footer;
}

// style label in form
.style-lebel-form {
    font-family: open-sans;
    font-size: 16px;
    line-height: 16px;
    font-style: normal;
    font-weight: 500;
    color: $color-label;
    padding-left: 10px;
}

.style-span-error-login {
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    color: #dc0104;
}

// style label in footer
.style-label-form-title {
    font-family: $font-gotham-medium;
    font-size: 13px;
    line-height: 14px;
    font-style: normal;
    color: $color-title-footer;
    padding-left: 20px;
}

// style total income
.style-label-total-income {
    font-family: open-sans;
    font-size: 17px;
    line-height: 20px;
    font-weight: 600;
    font-style: normal;
    color: $color-title-footer;
}

// style total
.style-client-reply-title {
    font-family: $font-gotham-medium;
    font-size: 18px;
    line-height: 18px;
    font-style: normal;
    color: $color-title-footer;
}

.style-client-reply-state {
    font-family: open-sans;
    font-size: 16px;
    line-height: 20px;
    font-style: normal;
    color: $color-title-footer;
}

.style-client-reply-reason {
    font-family: open-sans;
    font-size: 12px;
    line-height: 20px;
    font-style: normal;
    color: $color-border-input;
}

// style input placeholder
input::placeholder {
    font-family: open-sans;
    font-size: 14px;
    line-height: 20px;
    font-style: normal;
    color: #797777;
    padding-left: 10px;
}

// style title product line
.style-title-product {
    font-family: open-sans;
    font-size: 16px;
    line-height: 18px;
    font-style: normal;
    color: $color-title-footer;
}

// style product data
.style-label-product {
    font-family: open-sans;
    font-size: 16px;
    line-height: 18px;
    font-style: normal;
    color: $color-title-product;
}


/* style etiquetas p */

p {
    margin: 0;
}


/* style etiquetas h*/

h4,
h5,
h6 {
    margin: 0;
}

button:focus {
    background: none;
}


/* style display flex */

.d-flex {
    display: flex;
}


/* style position */

.position-absolute {
    position: absolute;
}

.position-relative {
    position: relative;
}


/* padding */

.p-left-5 {
    padding-left: 5px;
}

.p-left-10 {
    padding-left: 10px;
}

.p-left-20 {
    padding-left: 20px;
}

.p-left-30 {
    padding-left: 30px;
}

.p-top-5 {
    padding-top: 5px;
}

.p-top-10 {
    padding-top: 10px;
}

.p-top-20 {
    padding-top: 20px;
}

.p-top-30 {
    padding-top: 30px;
}

.p-content {
    padding-left: 10%;
    padding-right: 10%;
}


/* margin */

.m-top-10 {
    margin-top: 10px;
}

.m-top-20 {
    margin-top: 20px;
}

.m-top-30 {
    margin-top: 30px;
}

.m-top-35 {
    margin-top: 35px;
}

.m-left-30 {
    margin-left: 30px;
}

.m-left-20 {
    margin-left: 20px;
}

.m-left-15 {
    margin-left: 15px;
}

.m-right-30 {
    margin-right: 30px;
}

.m-right-15 {
    margin-right: 15px;
}

.m-bottom-10 {
  margin-bottom: 10px;
}


/* style btn icon content */

.btn-arrow-up {
    border: none;
    border-radius: 5px;
    background: none;
}

.icon-arrow-up,
.cancel-icon {
    width: 15px;
}

// style btn filter y desist
.btn-filter {
    background-color: rgb(148, 193, 30);
    font-size: 18px;
    height: 45px;
    margin-right: 80px;
}

.btn-desist {
    background-color: rgb(228, 6, 19);
    font-size: 18px;
    height: 45px;
    margin-left: 25px;
}

// style select
.selectRequired {
    color: #dc0104;
    padding-left: 5px;
    font-size: 14px;
}

.is-invalidwi {
    border: 1px solid #dc0104;
}
