<select class="browser-default border-style" [disabled]="onlyRead != false">
    <option value="">Seleccionar</option>
    <option [value]="item.code" *ngFor="let item of listado" >{{item.value}}</option>
</select>