<footer class="page-footer footer">
    <div class="container">
      <div class="row">
        <div class="col12">
          <Label class="style-footer">footer</Label>
        </div>
      </div>
    </div>
</footer>